.admin-new-wrapper {
margin: 70px;  
}

.delete-list {
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.delete-list:before, .delete-list:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.delete-list:before {left: 10px;}
.delete-list:after {right: 10px;}

.list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: 0.5px solid;
  border-radius: 9px 0px 9px 0px;
  padding: 10px;
  color: #2c2c2f;
  background: #cde4ff;/*背景色*/
}

.individual {
  font-size: 30px;
}

.delete-btn {
  padding: 20px;
  background-color: green;
}

.delete-btn:hover {
  background-color: red;
}